<%- include('includes/head') %> <%- include('includes/nav') %>

<div class="container">
	<div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-8 my-5">
			<h1 class="display-1 text-center">Home</h1>
			<p class="text-center lead">Home page content</p>

			<%- include('includes/messages') %>

			<div class="responsive-table">
				<table class="table my-3">
                    <% if (contacts.length > 0) { %> 
                        <th>
                            <td>Name</td>
                            <td>Surname</td>
                            <td>Phone</td>
                            <td>Email</td>
                        </th>
                        <% contacts.forEach(contact => { %>
                            <tr>
                                <td><%= contact.name %></td>
                                <td><%= contact.surname %></td>
                                <td><%= contact.phone %></td>
                                <td><%= contact.email %></td>
                            </tr>
                        <% }) %>   
                    <% } else { %>
                        <tr>
                            <td colspan="4" class="text-center">Login and register a new contact to see your contacts list</td>
                        </tr>
                    <% } %> 
				</table>
			</div>


		</div>
		<div class="col-lg-2"></div>
	</div>
</div>

<%- include('includes/footer') %>
